{% extends "meditations/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Response to" %}{{object.meditation}}{% endblock %}

{% block content %}
<div class="login-panel col-lg-12 col-lg-offset-0">
    <h1>{% trans "Meditation Response" %}</h1>
    
    <div class="box">
        <h3>To #{{object.meditation}}</h3>
        <p class="well small">{{object.meditation.text}}</p>
        <br />
        <h4>Initial Response</h4>
        <p>{{object.initial_response}}</p>
        <h4>Notes</h4>
        <p>{{object.notes}}</p>
        <hr class="block" />
    </div>
</div>

{% endblock %}


